<div style="display: grid; place-content: center; width: 100vw; height: 100vh; background: url(/assets/images/body-bg.jpg); background-size: cover;">
    <div class="card card-body shadow" style="width: 360px;">
    
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email">
            <label for="email">Email address</label>
        </div>

        <div class="form-floating mb-3">
            <input
                type="password"
                class="form-control"
                ng-model="$ctrl.prova"
                id="password"
            >
            <label for="password">Password</label>
        </div>
        <div>{{$ctrl.prova}}</div>

        <div class="text-center">
            <button
                class="btn btn-primary"
                ng-click="$ctrl.handle();"
                ng-init=""
            >
                Login 
            </button>
        </div>
    </div>
</div>